# SPDX-License-Identifier: MIT
[Unit]
Description=Starts systelem

[Socket]
ListenStream=/var/run/systelem.sock
NoDelay=true

[Install]
WantedBy=sockets.target